<ngx-loading-bar></ngx-loading-bar>
<div class="container light-font">
  <h1 class="center super-heading color">Welcome to How Bright </h1>
  <h2 class="regular-heading color center">Reset Your Password</h2>
  <h4 class="col center">Please provide the email address you used when you signed up for your Udacity account.</h4>
  <h4 class="col center">We will send you an email with a link to reset your password.</h4>
  <form>
    <div class="imgcontainer">
      <img src="assets/images/forget2.png" alt="Forgot icon" class="avatar">
    </div>
    <div class="container">
      
      <div class="input-field">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email" [formControl]="email" 
          [(ngModel)]="user.email" (keyup.enter)="checkEmail(user.email)"
          (blur)="checkEmail(user.email)" required>
          <mat-error *ngIf="!email.valid">User didn't exists with this email</mat-error>
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="input-field">
        <mat-form-field appearance="outline">
            <mat-label>Your Question</mat-label>
          <input matInput placeholder="Your question is here" name="question" [(ngModel)]="user.question" disabled required>
        </mat-form-field>
      </div>

      <div class="input-field">
          <mat-form-field appearance="outline">
              <mat-label>Answer</mat-label>
            <input matInput placeholder="Enter your question answer" [formControl]="answer" [(ngModel)]="user.answer" md-maxlength="30" required>
            <mat-error *ngIf="answer.invalid">{{getAnswerErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

      
      <button type="button" class="btn btn-outline-success btn-block" (click)="onForgot()">Send Mail</button>
    </div>
  </form>
</div>