<ngx-loading-bar></ngx-loading-bar>
<div class="container light-font">
  <h1 class="center super-heading color">Hello {{name}}, Welcome to How Bright </h1>
  <h2 class="regular-heading color center">Password Reset Form</h2>
  <form>
    <div class="imgcontainer">
      <img src="assets/images/forget1.jpg" alt="Activation icon" class="avatar">
    </div>
    <div class="container" *ngIf="status; else elseCreatePasswordBlock">
        <div class="row">
        <h4 class="col center">Account new password already created. Try again by going back to <a routerLink="/forgotpassword">Forgot my Password</a> page</h4>
        </div>        
    </div>
    <ng-template #elseCreatePasswordBlock>
    <div class="container" *ngIf="!status">
        <div class="row">
          <h4 class="col center">Enter your new password for your account.</h4>
        </div>

        <div class="input-field">
          <mat-form-field appearance="outline">
              <mat-label>New Password</mat-label>
            <input matInput placeholder="Enter your new password" [formControl]="password" [(ngModel)]="user.password" [type]="hide1 ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="input-field">
          <mat-form-field appearance="outline">
              <mat-label>Confirm New Password</mat-label>
            <input matInput placeholder="Enter your confirm password" [formControl]="confirmPassword"
             [(ngModel)]="user.confirmPassword" [type]="hide2 ? 'password' : 'text'"
             (keyup.enter)="checkPassword()" (blur)="checkPassword()" required>
            <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="!confirmPassword.valid">Password not matched</mat-error>
            <mat-error *ngIf="confirmPassword.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

      <button type="button" class="btn btn-outline-success btn-block" (click)="onCreatePassword()">Create My New Password</button>
    </div>
  </ng-template>
      <div class="row">
        <div class="col center">
          <p>Reach us at hnath723@gmail.com for any queries or reach us at +91 7040622320</p>
        </div>
      </div>
  </form>
</div>