<div class="container">
  <h1 class="center"> Welcome to How Bright </h1>
  <h2>Login Form</h2>
  <form>
    <div class="imgcontainer">
      <img src="assets/images/login1.jpg" alt="Avatar" class="avatar">
    </div>
    <div class="container">
      <label for="uname">
        <b>Username</b>
      </label>
      <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="user.username" required>

      <label for="psw">
        <b>Password</b>
      </label>
      <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="user.password" required>

      <button type="button" class="btn btn-outline-success btn-block" (click)="onLogin()">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <div class="row">
        <div class="col left">
          <button type="button" class="btn btn-light text-dark btn-block cancelbtn" (click)="goBack()">Back</button>
        </div>
        <div class="col"></div>
        <div class="col center">
          <button type="button" class="btn btn-outline-secondary cancelbtn" routerLink="/registration">Register</button>
          <span class="psw">Forgot
            <a href="#">password?</a>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>