<ngx-loading-bar></ngx-loading-bar>
<div class="container light-font">
  <h1 class="center super-heading color"> Welcome to How Bright </h1>
  <h2 class="regular-heading color center">Login Form</h2>
  <form>
    <div class="imgcontainer">
      <img src="assets/images/login1.jpg" alt="Avatar" class="avatar">
    </div>
    <div class="container">
      <!-- <label for="uname">
        <b>Username</b>
      </label>
      <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="user.username" required>

      <label for="psw">
        <b>Password</b>
      </label>
      <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="user.password" required>

      <button type="button" class="btn btn-outline-success btn-block" (click)="onLogin()">Login</button>
       -->

      <div class="input-field">
          <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your username" [formControl]="username" [(ngModel)]="user.username" required>
            <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
  
        <div class="input-field">
          <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" [formControl]="password" [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <mat-checkbox class = "example-margin" [(ngModel)] = "remember" name="remember"> 
            Remember me
          </mat-checkbox>

        <button type="button" class="btn btn-outline-success btn-block" (click)="onLogin()">Login</button>

    </div>
    <div class="container" style="background-color:#f1f1f1">
      <div class="row">
        <div class="col left">
          <button type="button" class="btn btn-light text-dark btn-block cancelbtn" (click)="goBack()">Back</button>
        </div>
        <div class="col"></div>
        <div class="col center">
          <button type="button" class="btn btn-outline-secondary cancelbtn" routerLink="/registration">Register</button>
          <span class="psw">Forgot
            <a href="#">password?</a>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>