<!-- <div class="row row-container light-font"> -->
        <div class="container-fluid light-font">    
                <div class="row content">
  <div class="col-xl-2 col-lg-3 col-md-6 mb-6">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a routerLink="/admin">
                  Hey Admin
              </a>
          </li>
          <li>
              <a routerLink="/admin">Accounts</a>
          </li>
          <li>
              <a routerLink="/admin">Aptitude</a>
          </li>
          <li>
              <a routerLink="/admin">Files</a>
          </li>
          <li>
              <a routerLink="/admin">Learning</a>
          </li>
          <li>
              <a routerLink="/admin">Coding</a>
          </li>
          <li>
              <a routerLink="/admin">Current Affairs</a>
          </li>
          <li>
              <a routerLink="/admin">Reasoning</a>
          </li>
      </ul>
    </div>
  </div>
  <div class="col-xl-10 col-lg-9 col-md-6 mb-4">
    <router-outlet></router-outlet>
  </div>
</div>
</div>