<div style="background-image: url('assets/images/background/bg3.png'); background-attachment: fixed;">
  <div class="container" style="font-family: exo2;">
    <br>
    <div class="row">
      <div class="col center">
          <img src="assets/images/hb4.png" alt="Logo" style="width:300px;">
      </div>
        
      </div>
    <h1 class="center super-heading color">
      How Bright</h1>
    <div class="row">
      <div class="col-10">
        <p class="description">Every individual wants to receive the best of education to achieve his or her dreams. However, the more the institution
          is good, the higher the fees they charge. Students usually leave their education incomplete and do blue collar
          jobs to meet their basic ends. Moreover, these students collect money to complete their masters later in career.
          Apart from those who can afford expensive higher education, some handful of students gets scholarships.</p>
        <p class="description">It's a myth to say that online education will go in vain, as the job market is more based on our skills, rather than
          our degrees. What you know matters more than from where you have learnt. Nowadays, agencies hire students on the
          basis of their knowledge and ability to solve problems, keeping aside their grades or degrees.</p>
      </div>
      <div class="col-2 center">
        <img width="150" alt="Angular Logo" src="assets/images/hb3.png">
      </div>
    </div>
    <div class="row">
      <img class="image-center" src="assets/images/hb8.png" alt="Logo">
    </div>
    <div class="row">
      <div class="col-2 center">
        <br>
        <br>
        <img width="150" alt="Angular Logo" src="assets/images/hb6.jpg">
      </div>
      <div class="col-10">
        <br>
        <p class="description">The website gives huge array of academic options to student from traditional to contemporary studies. The moment
          a student opens this website, he is bound to get sucked into the number of courses available in his topic of interest.
          It is a user-friendly website. For each concept that students wish to master, they go through a variety of online
          tutorials, take tests, and ultimately complete each course.</p>
        <p class="description">In the age of internet and MOOCs, do we really need to spend huge amount on getting degrees? One can equally quench
          his third for knowledge by joining online classes. Online classes are not only cheap but also conveniently arranged
          for those who are working. What else a student would want if he gets free classes that too online. There are websites
          that provide free online courses or have resourceful material for students. These websites are bejeweled with informative
          podcasts, videos and notes, they also take time-to-time assessment tests. Indeed, there should be free flow of
          knowledge and it is beneficial for the students and teachers both.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col center">
      <button type="button" class="btn btn-info btn-block btn-lg" routerLink="/login">Start Here</button>
    </div>
    <div class="col"></div>
  </div>
  <br>
</div>