@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
    font-family: exo2Regular;
    src: url(./assets/fonts/Exo2-Regular.ttf);
}

@font-face {
    font-family: exo2Light;
    src: url(./assets/fonts/Exo2-Light.ttf);
}

@font-face {
    font-family: exo2ExtraBold;
    src: url(./assets/fonts/Exo2-ExtraBold.ttf);
}

.center {
    text-align:center;
}

.left {
    text-align:left;
}

.right {
    text-align:right;
}

.footer {
    background: #e8e7e7;
    color:white;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

p.description {
    font-family: exo2Light, monospace, cursive, Times, serif;
    font-size: 1.2em;
    font-weight: 400;
}

.super-heading {
    font-family: exo2ExtraBold, monospace, cursive, Times, serif;
    font-size:6vw;
}

.regular-heading {
    font-family: exo2Regular, monospace, cursive, Times, serif;
    font-size:4vw;
}

.light-font {
    font-family: exo2Light;
}

.color {
    color: #2A5082
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #308cbb;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #2b85de;
}

.input-field {
    display: flex;
    flex-direction: column;
}
  
.input-field > * {
    width: 100%;
}

.drop-box{
    border: double;
    padding: 2%;
    display: block;
}

.previewIcon {
    width:100px;height:100px;
    background-size:cover;
    background-repeat:no-repeat;
}

.word-break {
    word-break: break-word;
}

.cursor-pointer {
    cursor: pointer;
}

/* #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 15%;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  } */

  #sidebar-wrapper {
    height: 100%;
    margin-left: -15px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-top: 350px;
  }

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
  }
  
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }
  
  .sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
  
  .sidebar-nav>.sidebar-brand a {
    color: #999999;
  }
  
  .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
  }

  .card {
    height: 100%;
  }
